
@{
    ViewBag.Title = "About the developer";
}

<div class="description">
    <h2>About the developer and the development</h2>

    <p>
        The idea of <span class="piratesStrugglesLogo">Pirates' struggle</span> comes from a trip I have had with friends in august 2017, I developed this idea to become a funny game to play 
        but a bit hard so the player has some challenges to deal with.
    </p>

    <p>
        I (Nathanaël Omnes) developed the idea from the 12th september 2017 to the 25th september 2017 and then began the development of the game. The fist version is planned for the end of
        november.
    </p>
</div>