@{
    ViewBag.Title = "Home";
}

<div id="presentation">
    <h2>Welcome to <span class="piratesStrugglesLogo">Pirates' struggle</span>!</h2>

    <p>
        Your objective is to survive as long as possible on the the stormy seas of the world.<br />
        You will have to fight other ships with your crew and manage the precious colected resources!<br />
        But be careful, every single action is important and you may lose faster than you think...<br />
        Good luck captain!
    </p>
</div>